* {
  font-family: "Federo", sans-serif;
  font-size: 1em;
}

html {
  min-width: 255px;
}

header {
  position: fixed;
  height: 56px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

nav {
  max-width: 992px;
  margin: 0 auto;
}

section {
  margin-top: 56px;
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url(/assets/img-first-panel3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section-content {
  max-width: 520px;
}

section p,
.article-info p {
  color: white;
}

article ul {
  min-height: min-content;
}

footer {
  color: white;
}
